<nav class="navbar custom-navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Brand / Logo -->
        <a class="navbar-brand brand-wrapper" href="/">DavPadDev</a>

        <!-- Toggler (hamburger menu on mobile) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <!-- ms-auto pushes nav to right on desktop -->
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/about">About</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/projects">Projects</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/resume">Resume</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/contact">Contact</NavLink>
                </li>
                @if (ShowBlog)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/blog">Blog</NavLink>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool ShowBlog = false; // toggle when ready
}
